@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-white dark:bg-dark text-txtPrimary dark:text-txtPrimary-dark;
}

.circular-text-container {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.circular-text-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circular-text {
  display: inline-block;
  transform-origin: 50% 100%;
  white-space: nowrap;
  font-size: 17px;
}

.t-campaigns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.t-campaigns-list {
  flex: 1;
}

